/*.profile-card img {
    padding-top: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.profile-card {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/*.custom-btn {
    border: solid;
    border-radius: 10px;
    border-color: #000000;
    background-color: #ffffff;
    width: 30px;
    height: 30px;

}
 .custom-btn:hover {
    background-color: #b6ff00;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
} */
/*.banner {
    background-image: url('banner.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {
    background: rgb(192 200 121 / 40%);
    padding: 5px;
    text-align: center;
    color: white;
} */
/*.box {
    width: 300px;
    height: 200px;
    border: 2px dashed gray;
    background-color: #f9f9f9
} */
/*.avatar {
    width: 100px;
    height: 100px;
    background-image: url('profile.png');
    border-radius: 50%;
    background-size: cover;
}*/
/*.card {
    width: 320px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: white;
    font-size: 1.6rem;
} */
/*.banner1 {
    width: 200px;
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    color: white;
}*/
/*.btn {
    background-image: url('banner.png');
    background-size: cover;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
} */